/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/08/2017, 16:28:16
    Author     : rodri
*/
body{
    background-color: rgb(69,69,69);
    font-family: Segoe UI Light;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(115,154,174);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:background-color 0.5s;
    
}

input[type=submit]:hover {
    background-color: rgb(85,124,144);
    transition: background-color 0.5s ease-in-out;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.result{
    font-family: Segoe UI Light;
    color: rgb(69,69,69);
    padding: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #b2d7e4;
}

th, td {
    font-family: Segoe UI Light;
    color: #064a63;
    text-align: left;
    padding: 15px;
}

tr:nth-child(even){background-color: #def1f8}


h1{
    font-family: Segoe UI Light;
    color: rgb(69,69,69);
}

h4{
    font-family: Segoe UI Light;
    color: rgb(69,69,69);
}

ul{
    list-style-type:none;
    
    font-family: Segoe UI Light;
    font-size: 26px;
}

li a{
    text-decoration: none;
    color: black;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

li:hover{
    background-color: rgba(53,53,53,0.1);
    transition: 0.5s;
}

.home{
    border-radius: 100%;
    border: 1px solid;
    color: rgb(69,69,69);
    font-size: 38px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: background-image 0.5s;
}

.home img{
    width: 28px;
    height: 25px;
}

.home:hover{
    background-color: rgba(53,53,53,0.1);
    transition: 0.5s;
}
